.brand {
  margin-top: 23px;
  margin-bottom: 0px;
}

.nav-link {
  height: 80px;
  padding-top: 26px;
  padding-bottom: 30px;
  border: 4px solid transparent;
  color: #4a4a4a;
  font-weight: 400;
}

.nav-link:hover {
  border-top-color: #ef8e9a;
  color: #ef8e9a;
}

.nav-link.contact {
  color: #ef8e9a;
  font-weight: 400;
}

.nav-link.contact:hover {
  background-color: #ef8e9a;
  color: #fff;
}

.nav-link.projects {
  color: #4a4a4a;
  font-weight: 400;
}

.nav-link.projects:hover {
  border-top-color: #ef8e9a;
  color: #ef8e9a;
}

.nav-link.projects.w--current {
  border-top-color: #ef8e9a;
  color: #ef8e9a;
}

.nav-link.resume:hover {
  border-top-color: #ef8e9a;
  color: #ef8e9a;
}

.nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  border-color: #d4d4d4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  font-weight: 300;
}

.body {
  margin-top: 80px;
  font-family: Lato, sans-serif;
  text-align: center;
}

.body.ct {
  background-image: url('../images/Bitmap.png');
  background-position: -41px 82px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.section.testimonials {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 152, 255, 0);
  background-image: url('../images/Bitmap.png');
  background-position: 0px 85px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.76;
}

.section.hero.am {
  padding-bottom: 75px;
  background-image: none;
}

.section.hero.am.c {
  padding-bottom: 50px;
}

.section.contact {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #4a4a4a;
  opacity: 1;
}

.section.cs {
  padding-bottom: 40px;
}

.section.ds {
  padding-top: 21px;
  padding-bottom: 40px;
}

.section.ds.us {
  padding-top: 40px;
  background-image: url('../images/Rectangle-7.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.project {
  padding-bottom: 0px;
}

.section.resume {
  background-color: #9b9b9b;
}

.slide {
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 70px;
  background-image: url('../images/right-quotes-homepage.png'), url('../images/left-quotes-homepage.png');
  background-position: 83% 48%, 17% 23%;
  background-size: 90px, 90px;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}

.slider {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(139, 87, 42, .06);
}

.footer {
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
  background-size: auto;
}

.heading {
  margin: 20px auto 15px;
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-size: 35px;
  line-height: 55px;
  font-weight: 300;
  text-align: center;
}

.heading.cs {
  margin-top: 40px;
  font-size: 34px;
}

.heading-2 {
  margin: 30px auto 80px;
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
}

.heading-2.cs {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.heading-2.am {
  margin-top: 0px;
  margin-bottom: 21px;
  font-size: 33px;
}

.text-block {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-size: 15px;
  font-weight: 300;
}

.image {
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.project-paragraph {
  margin-bottom: 30px;
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}

.project-heading {
  margin-top: 23px;
  margin-bottom: 20px;
  padding-top: 0px;
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

.heading-4 {
  margin-top: 23px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.paragraph-2 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.heading-5 {
  margin-top: 23px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.paragraph-3 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
  float: left;
  border-style: none;
  border-color: #4a4a4a;
  border-radius: 74px;
  background-color: #ef8e9a;
  font-family: Lato, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgba(239, 142, 154, .8);
}

.button.contact {
  float: none;
  border-radius: 226px;
  text-align: left;
}

.button.phone {
  font-size: 11px;
}

.button.phone.cs {
  background-color: #fff;
  color: #ef8e9a;
  text-align: left;
}

.project-description {
  margin-top: 69px;
  margin-bottom: 48px;
  padding-left: 0px;
  float: left;
}

.row1 {
  margin-top: 50px;
  margin-bottom: 90px;
  text-align: left;
}

.row1.cs {
  display: block;
  margin-right: 5%;
  margin-bottom: 0px;
  margin-left: 4%;
}

.row1.am {
  margin-top: 0px;
}

.div-block {
  margin-top: 0px;
}

.div-block.description-wrapper {
  text-align: center;
}

.button-2 {
  padding-right: 25px;
  padding-left: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-header {
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

.contact-message {
  margin-top: 26px;
  margin-bottom: 35px;
  font-family: Lato, sans-serif;
  color: #d4d4d4;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
}

.contact-button {
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 72px;
  background-color: #fff;
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-button:hover {
  background-color: hsla(0, 0%, 100%, .8);
  color: #4a4a4a;
}

.copyright {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

.testimonial-quote {
  display: block;
  width: 60%;
  max-width: 940px;
  margin: 20px auto 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
}

.testimonial-image {
  margin-bottom: 17px;
}

.testimonial-occupation {
  margin-bottom: 23px;
}

.italic-text {
  margin-top: 0px;
  padding-top: 0px;
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-size: 17px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
}

.social-media-link {
  margin: 6px;
  padding: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-image: url('../images/linkedin---FontAwesome.png');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.social-media-link:hover {
  background-color: #fff;
  background-image: url('../images/linkedin---FontAwesome--black.png');
  background-position: 50% 50%;
  background-size: 50%;
}

.social-media-link.mail {
  background-image: url('../images/mail.png');
  background-position: 50% 50%;
  background-size: 70%;
  background-repeat: no-repeat;
}

.social-media-link.linkedin {
  padding-bottom: 34px;
  background-image: url('../images/linkedin---FontAwesome.png');
  background-position: 0px 0px;
  background-size: 40%;
  background-repeat: no-repeat;
}

.social-media-link.github {
  background-image: url('../images/github---FontAwesome.png');
  background-position: 50% 50%;
  background-size: 60%;
}

.social-media-link.github:hover {
  background-image: url('../images/github---FontAwesome--black.png');
  background-size: 60%;
}

.social-media-link.dribble {
  background-image: url('../images/dribble.png');
  background-position: 50% 50%;
  background-size: 60%;
}

.social-media-link.dribble:hover {
  background-image: url('../images/dribble-black.png');
  background-size: 60%;
}

.text-block-2 {
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-weight: 300;
}

.text-block-3 {
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-weight: 400;
}

.heading-style {
  color: #ef8e9a;
}

.down-arrow {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.container {
  margin-top: 0px;
  margin-bottom: 0px;
}

.link {
  margin: 0px auto 16px;
  background-image: url('../images/ion-ios-arrow-down---Ionicons.png');
  background-position: 50% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
  color: transparent;
  font-size: 14px;
}

.mask {
  margin-top: 0px;
  padding-top: 0px;
}

.div-block-2 {
  color: #4a4a4a;
}

.icon-arrow {
  color: rgba(74, 74, 74, .8);
  font-size: 25px;
}

.slide-nav {
  font-size: 10px;
}

.image-2.cs {
  margin-top: 10px;
  margin-bottom: 0px;
}

.italic-text-2 {
  color: #4a4a4a;
  font-size: 17px;
}

.container-project-list {
  margin-top: -74px;
  padding-top: 0px;
}

.heading-6 {
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #ef8e9a;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.heading-7 {
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #ef8e9a;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.heading-8 {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding-right: 0px;
  padding-bottom: 10px;
  border-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #ef8e9a;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.list-item {
  margin-top: 0px;
  padding: 8px 0px;
}

.list-item.us {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  text-align: left;
}

.list-item.us._2 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 21px;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.heading-9 {
  float: none;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
}

.heading-9.ds {
  margin-bottom: 15px;
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
  font-size: 22px;
}

.heading-9.ds.us {
  margin-bottom: 8px;
  border-style: none;
  font-size: 18px;
  text-align: center;
}

.heading-9.ds.us1 {
  margin-top: 0px;
}

.paragraph-4 {
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}

.paragraph-4.ds {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #4a4a4a;
  font-weight: 300;
}

.paragraph-4.ds.us {
  margin-bottom: 30px;
}

.paragraph-4.ds.rs {
  padding-bottom: 20px;
}

.div-block-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.div-block-4 {
  text-align: center;
}

.container-3 {
  padding-right: 6%;
  padding-left: 6%;
}

.image-6 {
  margin-top: 40px;
  margin-bottom: 25px;
}

.button-3 {
  margin-top: 40px;
  padding-bottom: 9px;
  border-style: none;
  border-width: 1px 1px 2px;
  border-color: #000 #000 #ef8e9a;
  background-color: transparent;
  direction: ltr;
  font-family: Lato, sans-serif;
  color: #ef8e9a;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-3:hover {
  color: rgba(239, 142, 154, .98);
  text-decoration: underline;
}

.button-3.us {
  margin-top: 20px;
  background-color: transparent;
  font-size: 14px;
}

.button-3.am {
  margin-top: 16px;
  margin-left: 4%;
  float: left;
}

.unordered-list {
  margin-top: 0px;
  margin-left: 23%;
  padding-left: 40px;
}

.unordered-list-2 {
  margin-top: 0px;
  margin-left: 24%;
}

.bold-text {
  font-size: 16px;
}

.text-span {
  font-size: 14px;
}

.image-7 {
  margin-top: 50px;
}

.button-4 {
  position: static;
  padding-left: 15px;
  float: none;
}

.image-8 {
  margin-top: 40px;
}

.image-9 {
  margin-top: 0px;
}

.text-block-4 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.text-block-5 {
  margin-top: 25px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 300;
}

.heading-10 {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

.heading-11 {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

.heading-12 {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

.row {
  margin-top: 35px;
  margin-left: -10px;
  padding-right: 5%;
  padding-left: 5%;
}

.unordered-list-3 {
  text-align: left;
}

.image-10 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.text-block-6 {
  margin-top: 40px;
  font-weight: 400;
}

.image-11 {
  margin-top: 20px;
  padding-right: 12px;
  padding-left: 12px;
}

.row-2 {
  margin-right: 0px;
  margin-left: 0px;
}

.image-12 {
  margin-top: 20px;
  padding-right: 12px;
  padding-left: 12px;
}

.image-13 {
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.text-block-7 {
  font-weight: 400;
}

.text-block-8 {
  font-weight: 400;
}

.text-block-9 {
  font-weight: 400;
}

.image-14 {
  margin-top: 40px;
}

.row-3 {
  margin-top: 40px;
}

.row-4 {
  margin-top: 40px;
}

.block-quote {
  margin-top: 48px;
  margin-bottom: 15px;
  border-style: none;
  color: #4a4a4a;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.block-quote.pt {
  margin-top: 15px;
}

.block-quote-2 {
  margin-top: 40px;
  margin-bottom: 15px;
  border-style: none;
  font-size: 16px;
  font-style: italic;
}

.block-quote-3 {
  margin-top: 40px;
  border-style: none;
  font-size: 16px;
  font-style: italic;
}

.block-quote-4 {
  border-style: none;
}

.text-block-10 {
  font-size: 14px;
  text-align: left;
}

.row-5 {
  text-align: left;
}

.text-block-11 {
  text-align: left;
}

.image-15 {
  text-align: center;
}

.row-6 {
  text-align: left;
}

.text-block-12 {
  font-weight: 300;
  text-align: left;
}

.text-block-13 {
  font-weight: 300;
  text-align: left;
}

.text-block-14 {
  font-weight: 300;
}

.text-block-15 {
  font-weight: 300;
}

.text-block-16 {
  font-weight: 300;
}

.text-block-17 {
  font-weight: 300;
}

.row-7 {
  font-weight: 300;
}

.image-16 {
  margin-top: 40px;
}

.image-17 {
  margin-top: 40px;
}

.image-18 {
  margin-top: 40px;
}

.image-19 {
  margin-top: 40px;
}

.image-20 {
  margin-top: 14px;
}

.image-21 {
  margin-top: 15px;
}

.row-8 {
  margin-top: 40px;
}

.row-9 {
  margin-top: 40px;
}

.row-10 {
  text-align: left;
}

.block-quote-5 {
  margin-top: 40px;
  border-style: none;
  font-size: 16px;
  font-weight: 400;
}

.text-block-18 {
  margin-top: 40px;
}

.image-22 {
  border: 1px solid #4a4a4a;
}

.text-block-19 {
  text-decoration: underline;
}

.button-5 {
  float: left;
  background-color: transparent;
  color: #ef8e9a;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.button-5.center {
  margin-right: 10%;
  margin-left: 15%;
  float: none;
}

.button-5.right {
  float: right;
}

.button-6 {
  float: right;
}

.container-4 {
  margin-bottom: 40px;
  border-top: 1px solid #000;
}

.text-block-22 {
  font-size: 16px;
}

.paragraph-5 {
  line-height: 22px;
}

.paragraph-6 {
  margin-top: 50px;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.form {
  margin-right: 20%;
  margin-left: 20%;
}

.textarea {
  margin-bottom: 50px;
  padding-bottom: 90px;
}

.submit-button {
  padding-right: 48px;
  padding-left: 48px;
  border-radius: 21px;
  background-color: #ef8e9a;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: rgba(239, 142, 154, .8);
}

.form-block {
  margin-bottom: 50px;
}

.image-31 {
  border: 1px none #000;
  background-color: #4a4a4a;
}

@media (max-width: 991px) {
  .section.hero {
    padding-top: 40px;
    padding-bottom: 40px;
    background-position: 15% 96px;
  }
  .section.ds {
    padding-bottom: 30px;
  }
  .slide {
    background-position: 85% 62%, 11% 23%;
    background-size: 90px, 90px;
  }
  .heading {
    margin-top: 20px;
    font-size: 30px;
    line-height: 47px;
  }
  .heading-2 {
    font-size: 18px;
    line-height: 28px;
  }
  .project-paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px;
  }
  .project-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 10px;
  }
  .div-block.description-wrapper {
    margin: 0px 0px 1px 25px;
  }
  .div-block.project-description {
    margin-top: -12px;
    margin-left: 25px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .contact-header {
    font-size: 30px;
  }
  .testimonial-quote {
    display: block;
    width: 65%;
    margin: 10px auto 20px;
    font-size: 16px;
    line-height: 24px;
  }
  .italic-text {
    font-size: 16px;
    line-height: 24px;
  }
  .text-block-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .text-block-3 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .container {
    margin-top: 1px;
  }
  .div-block-2 {
    margin-top: -16px;
    margin-left: 4px;
  }
  .icon-arrow {
    font-size: 25px;
  }
  .product-description3 {
    margin: -14px 0px 1px 25px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .slide-nav {
    font-size: 10px;
  }
  .unordered-list {
    margin-left: 15%;
  }
  .unordered-list-2 {
    margin-left: 12%;
  }
  .block-quote.first {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .brand {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .nav-link {
    height: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-width: 3px;
    font-size: 13px;
  }
  .nav-link.contact {
    height: auto;
    margin-bottom: 0px;
    padding: 13px 8px;
  }
  .nav-link.projects {
    height: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-width: 3px;
    font-size: 13px;
  }
  .nav-link.resume {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .nav-bar {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section.hero {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url('../images/Bitmap.png');
    background-position: -99px 80px;
    background-size: cover;
    opacity: 0.91;
  }
  .section.hero.am {
    padding-bottom: 33px;
  }
  .section.contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section.cs {
    padding-top: 0px;
  }
  .section.ds {
    padding-bottom: 21px;
  }
  .slide {
    background-position: 89% 56%, 6% 17%;
  }
  .heading {
    margin-top: 20px;
    font-size: 28px;
    line-height: 45px;
  }
  .heading.cs {
    margin-top: 10px;
    font-size: 29px;
  }
  .heading-2 {
    opacity: 1;
    font-size: 17px;
    line-height: 27px;
  }
  .heading-2.cs {
    font-size: 14px;
  }
  .heading-2.am {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .project-paragraph {
    display: block;
    margin-right: 60px;
    margin-left: 60px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .project-heading {
    display: block;
    float: none;
    font-size: 30px;
    text-align: center;
  }
  .button {
    position: static;
    left: 33%;
    right: 10px;
    display: block;
    width: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
    float: none;
    text-align: center;
  }
  .button.phone {
    width: 45%;
  }
  .div-block.description-wrapper {
    display: block;
    margin: 0px auto 15px;
    float: none;
    text-align: center;
  }
  .div-block.project-description {
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
  .contact-header {
    font-size: 26px;
  }
  .contact-message {
    font-size: 14px;
    line-height: 24px;
  }
  .testimonial-quote {
    display: block;
    width: 75%;
    margin: 0px auto 16px;
    padding: 0px;
  }
  .italic-text {
    margin-top: 0px;
    padding-top: 0px;
  }
  .container {
    margin-top: 0px;
  }
  .link {
    background-size: 20px;
  }
  .icon-arrow {
    font-size: 20px;
  }
  .product-description3 {
    margin-left: 0px;
  }
  .slide-nav {
    font-size: 9px;
  }
  .image-2 {
    display: block;
    margin: 20px auto 0px;
  }
  .image-3 {
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .image-4 {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .container-2 {
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .image-5 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .italic-text-2 {
    font-size: 15px;
  }
  .list-item.us {
    font-size: 13px;
  }
  .list-item.us._2 {
    font-size: 13px;
  }
  .heading-9.ds {
    font-size: 20px;
  }
  .paragraph-4.ds {
    font-size: 14px;
  }
  .button-3 {
    margin-top: 20px;
  }
  .unordered-list {
    margin-left: 5%;
  }
  .unordered-list-2 {
    margin-left: 5%;
  }
  .block-quote.end {
    margin-top: 0px;
    font-size: 14px;
  }
  .block-quote-5 {
    font-size: 14px;
  }
  .image-22 {
    margin-top: 30px;
  }
  .button-5 {
    font-size: 12px;
  }
  .image-24 {
    margin-top: 20px;
  }
  .image-25 {
    margin-top: 20px;
  }
  .image-26 {
    margin-top: 20px;
  }
  .image-27 {
    margin-top: 20px;
  }
  .image-28 {
    margin-top: 15px;
  }
  .image-30 {
    margin-top: 20px;
  }
  .text-block-22 {
    font-size: 13px;
  }
  .paragraph-6 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 22px;
  }
  .form {
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media (max-width: 479px) {
  .nav-link {
    text-align: center;
  }
  .nav-link.projects {
    text-align: center;
  }
  .nav-bar {
    margin-bottom: 0px;
  }
  .section {
    padding-top: 29px;
    padding-bottom: 30px;
  }
  .section.hero {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 152, 255, 0);
    background-image: url('../images/Bitmap.png');
    background-position: -124px 89px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.84;
  }
  .section.contact {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .section.ds {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .section.ds.us {
    padding-top: 6px;
  }
  .slide {
    padding-top: 49px;
    background-position: 101% 57%, 1px 21px;
    background-size: 80px, 80px;
  }
  .heading {
    color: #4a4a4a;
    font-size: 21px;
    line-height: 31px;
    font-weight: 300;
  }
  .heading.cs {
    margin-bottom: 6px;
    font-size: 25px;
  }
  .heading-2 {
    color: #4a4a4a;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
  }
  .heading-2.am {
    font-size: 26px;
  }
  .text-block {
    color: #000;
    font-size: 13px;
  }
  .project-paragraph {
    margin-right: 24px;
    margin-bottom: 20px;
    margin-left: 24px;
    font-size: 13px;
    line-height: 20px;
  }
  .project-heading {
    font-size: 25px;
  }
  .button {
    position: static;
    left: 19%;
    right: 0px;
    display: block;
    overflow: visible;
    margin: 0px auto;
    padding: 9px auto;
    float: left;
    clear: none;
    text-align: center;
  }
  .button.phone {
    width: 70%;
    float: none;
  }
  .contact-header {
    font-size: 21px;
  }
  .contact-message {
    padding-right: 67px;
    padding-left: 67px;
    font-size: 12px;
    line-height: 21px;
  }
  .contact-button {
    margin-left: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .testimonial-quote {
    width: 82%;
    line-height: 20px;
  }
  .text-block-2 {
    font-size: 13px;
  }
  .text-block-3 {
    font-size: 13px;
  }
  .container-2 {
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .italic-text-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    line-height: 19px;
  }
  .menu-icon {
    margin-top: 4px;
    color: #4a4a4a;
    font-size: 34px;
  }
  .menu-button {
    padding: 5px;
    background-color: transparent;
    color: #fff;
  }
  .nav-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  }
  .list-item {
    font-size: 13px;
  }
  .list-item.us {
    font-size: 12px;
  }
  .list-item.us._2 {
    font-size: 12px;
  }
  .heading-9.ds {
    font-size: 18px;
  }
  .heading-9.ds.us {
    font-size: 15px;
  }
  .paragraph-4.ds {
    font-size: 13px;
    line-height: 25px;
  }
  .button-3 {
    margin-top: 9px;
  }
  .button-3.us {
    margin-top: 10px;
  }
  .unordered-list {
    margin-left: 0%;
    padding-left: 13px;
    font-size: 13px;
  }
  .unordered-list-2 {
    margin-left: 2%;
    padding-left: 0px;
  }
  .image-7 {
    margin-top: 10px;
  }
  .heading-10 {
    font-size: 13px;
  }
  .heading-11 {
    font-size: 13px;
  }
  .heading-12 {
    font-size: 13px;
  }
  .text-block-6 {
    font-size: 13px;
  }
  .text-block-7 {
    font-size: 13px;
  }
  .text-block-8 {
    font-size: 13px;
  }
  .text-block-9 {
    font-size: 13px;
  }
  .block-quote {
    margin-top: 40px;
    margin-bottom: 11px;
    font-size: 13px;
  }
  .block-quote.end {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 6px;
    padding-left: 6px;
  }
  .text-block-10 {
    font-size: 13px;
  }
  .text-block-11 {
    font-size: 13px;
  }
  .text-block-12 {
    margin-bottom: 0px;
    font-size: 13px;
  }
  .text-block-13 {
    font-size: 13px;
  }
  .text-block-14 {
    font-size: 13px;
  }
  .text-block-15 {
    font-size: 13px;
  }
  .text-block-16 {
    font-size: 13px;
  }
  .text-block-17 {
    font-size: 13px;
  }
  .image-21 {
    margin-top: 20px;
  }
  .block-quote-5 {
    font-size: 13px;
  }
  .text-block-18 {
    font-size: 13px;
  }
  .button-5 {
    font-size: 10px;
    letter-spacing: 0px;
  }
  .button-5.center {
    margin-right: 0%;
    margin-left: 7%;
  }
  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-5 {
    margin-top: 20px;
  }
  .image-23 {
    margin-top: 38px;
  }
  .image-24 {
    margin-top: 20px;
  }
  .image-25 {
    margin-top: 20px;
  }
  .image-26 {
    margin-top: 20px;
  }
  .image-27 {
    margin-top: 20px;
  }
  .image-28 {
    margin-top: 20px;
  }
  .image-29 {
    margin-top: 26px;
  }
  .text-block-20 {
    font-size: 13px;
  }
  .image-30 {
    margin-top: 20px;
  }
  .text-block-21 {
    font-size: 13px;
  }
  .unordered-list-4 {
    padding-left: 18px;
  }
  .text-block-22 {
    margin-right: 10%;
    margin-left: 10%;
    line-height: 20px;
  }
  .paragraph-6 {
    line-height: 22px;
  }
  .form {
    margin-right: 5%;
    margin-left: 5%;
  }
}
